.central-container {
     width: 100%;
     padding: 20px;
     margin-top: 70px;
     height: 600px;
     padding: 30px;
}

.target-views {
     width: 100%;
     border: 1px solid #cacaca;
     display: flex;
     justify-content: space-around;
     background-color: #fafafa;
}

.target-views label {
     padding: 10px;
     font-weight: bold;
}

.seleccionado {
     background-color: white;
     border-right: 1px solid #cacaca;
     border-top: 1px solid #cacaca;
     border-left: 1px solid #cacaca;
     position: relative;
     top: -4px;
     transform: scale(1.3);
}

.target-views label:hover {
     cursor: pointer;
}

.contain-views {
     background-color: white;
     height: calc(100% - 40px);
}